.container {
  min-height: 100vh;
  padding: 0 6.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(229, 231, 235, 1);
}

.container2{
  width: 291px;
  height: 237px;
  margin-top: 14px;
  margin-bottom: 42px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F3F3F3;
}

.container3 {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  background-color: rgb(230, 235, 229);

}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 3rem;
}

.card {

  margin-bottom: 100px;
  margin-right: 53px;
  flex-direction: column;
  width: 552px;
  height: 330px;
  display: flex;
  justify-content: space-between;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: color 0.15s ease, border-color 0.15s ease;
  background-color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 36px;
  font-weight: 400;
}

.card p {
  margin: 0;
  font-size: 14px;
  line-height: 16.41px;
}

@media (max-width: 640px) {
  .container{
    padding: 0 0.5rem;
    min-height: unset;
    justify-content: unset;
    align-items: unset;
  }

  .grid {
    width: 100%;
    flex-direction: column;
  }

  .card{
    width: unset;
    height: 203px;
    flex-basis: 100%;
    text-align: unset;
    margin-right: 0;
  }

  .card h3{
    font-size: 24px;
    line-height: 28px;
  }
}
